{% extends "base.html" %}
{% block content %}

<div class="profile-card">
    <img id="avatar" src="{{ user.profile.avatar }}">
    <div class="profile-text">
        <h1>{{user.username}}</h1>
        {% if user.profile %}
        <p class="bio">{{ user.profile.bio }}</p>
        <a class="profile-link" href="{% url 'update_profile' user.profile.id %}">Update Profile</a>
        {% else %}
        <a class="profile-link" href="{% url 'create_profile' %}">Create Profile</a>
        {% endif %}
    </div>

    <h2>{{user.username}}'s Favorites:</h2>
    <div class="profile-movies-container">
        {% for movie in user.profile.movie.all|slice:"5" %}
            <div class="favorite-movies">
                <a href="{% url 'details' movie.imdbId %}">
                    <img id="favorite-movies" src="{{ movie.image }}">
                </a>
                <form action="{% url 'unassoc_favorites' user.profile.id movie.id %}" method="POST">
                    {% csrf_token %}
                    <button class="favorite-delete" type="submit">&#x1F5D1;</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <h2>{{user.username}}'s Reviews:</h2>
    <div class="profile-movies-container">
        {% for review in user.review_set.all|slice:"5" %}
            <div class="reviewed-movies">
                <a href="{% url 'details' review.movie.imdbId %}">
                    <img id="reviewed-movies" src="{{ review.movie.image }}"><br>
                </a>
                <p class="rating">{{ review.rating }}/5</p><br>
            </div>
        {% endfor %}
    </div>

{% endblock content %}