{% extends "base.html" %}
{% block content %}

<div class="profile">
    <h2>{{user.username}}</h2>
    {% if user.profile %}
    <img src="{{ user.profile.avatar }}" alt="" style="height:100px; width:100px;">
    <a href="{% url 'update_profile' user.profile.id %}">Update Profile</a>
    {{ user.profile.bio }}
    {% else %}
    <a href="{% url 'create_profile' %}">Create Profile</a>
    {% endif %}
</div>

<div class="favorites">
    <div class="favorites_container">
        <input type="radio" id="img-1" name="images" value="img-1" checked>
        <input type="radio" id="img-2" name="images" value="img-2">
        <input type="radio" id="img-3" name="images" value="img-3">
        <input type="radio" id="img-4" name="images" value="img-4">
        <input type="radio" id="img-5" name="images" value="img-5">
        <label class="favorites_img-container" for="img-1" id="img-1">
            <img class="favorites_img" src="https://i.imgur.com/RgggiWF.jpg">
        </label>
        <label class="favorites_img-container" for="img-2" id="img-2">
            <img class="favorites_img" src="https://i.imgur.com/Kv1MURg.jpg">
        </label>
        <label class="favorites_img-container" for="img-3" id="img-3">
            <img class="favorites_img" src="https://i.imgur.com/4eAYAmM.jpg">
        </label>
        <label class="favorites_img-container" for="img-4" id="img-4">
            <img class="favorites_img" src="https://i.imgur.com/HOBm7I9.jpg">
        </label>
        <label class="favorites_img-container" for="img-5" id="img-5">
            <img class="favorites_img" src="https://i.imgur.com/kqaHegp.jpg">
        </label>
    </div>
</div>

{% endblock content %}