{% extends 'base.html' %}
{% block content %}

<div class="movie-card">
    <div class="card-left">
        <img src="{{ response.image }}">
    </div>
    <div class="card-right">
      <h1>{{ movie_data.title }}</h1>
      <div class="movie-details">
        <ul>
          <li>{{ response.year }}</li>
          {% if response.runtimeStr %}
          <li>{{ response.runtimeStr }}</li>
          {% else %}
          {% endif %}
          <li>{{ response.genres }}</li>
          {% if user.is_authenticated %}
          <li><form action="{% url 'assoc_favorites' user.profile.id movie_data.id %}" method="POST"></li>
            {% csrf_token %}
            <button type="submit" class="btn">❤️ Add Favorite</button>
          </form>
      {% else %}
        <a href="{% url 'signup' %}"><button class="favorite">❤️ Add Favorite</button></a>
      {% endif %}
        </ul>
        <div class="plot">
          <p>{{ response.plot }}</p>
        </div>
            <iframe src="{{ vid_response.linkEmbed }}?width=480" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" frameborder="no" scrolling="no"></iframe>
      </div>
    </div>
  </div>
  
<h1>Similar Movies</h1>
<div class="extra-details">
    {% for items in response.similars|slice:"7" %}
        <a href="{% url 'details' items.id %}">
        <img src="{{ items.image }}">
    {% endfor %}
    </a>
</div>

<h1>Actors</h1>
<div class="extra-details">
    {% for items in response.actorList|slice:"7" %}
        <div class="actor">
            <img src="{{ items.image }}">
            <p class="actor-details">
                {{ items.name }}</br>
                <span class="smaller">{{ items.asCharacter }}</span>
            </p>
        </div>
    {% endfor %}
</div>


<h1>Reviews </h1>
{% for review in movie_data.review_set.all %}<br>
<div class="comment-card">
        <ul>
            <li>{{ review.user.username }}</li>
            <li>{{ review.rating }}/5 ⭐️'s </li>
        </ul>
        <hr>
        <p>{{ review.body }}</p>
        <div class="comment-info">
            Posted: {{ review.created }}
            {% if review.user == request.user %}
                <a href="{% url 'delete_review' movie_data.id review.id %}">&nbsp;🗑️&nbsp;</a>
            {% endif %}
        </div>
    </div>
{% endfor %}

<h1>Leave Your Review</h1>
<div class="comment-form">
    <form action="{% url 'add_review' movie_data.id %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" value="⭐️ Add Review">
    </form>
</div>

{% endblock %}