{% extends 'base.html' %}
{% block content %}

<div class="movie-card">
    <div class="card-left">
        <img src="{{ response.image }}">
    </div>
    <div class="card-right">
      <h1>{{ movie_data.title }}</h1>
      <div class="movie-details">
        <ul>
          <li>{{ movie_data.year }}</li>
          <!-- <li>{{ response.duration }}</li> -->
          <li>{{ movie_data.genres }}</li>
        </ul>
        <div class="plot">
          <!-- <p>{{ response.plot }}</p> -->
        </div>
        <h3>Trailer</h3>
            <iframe src="{{ vid_response.linkEmbed }}?width=480" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" frameborder="no" scrolling="no"></iframe>
      </div>
    </div>
  </div>
  
<h1>Similar Movies</h1>
<div class="extra-details">
    {% for items in response.similars|slice:"7" %}
        <a href="{% url 'details' items.id %}">
        <img src="{{ items.image }}">
    {% endfor %}
    </a>
</div>

<h1>Actors</h1>
<div class="extra-details">
    {% for items in response.actorList|slice:"7" %}
        <div class="actor">
            <img src="{{ items.image }}">
            <p class="actor-details">
                {{ items.name }}</br>
                <span class="smaller">{{ items.asCharacter }}</span>
            </p>
        </div>
    {% endfor %}
</div>

<form action="{% url 'add_review' movie_data.id %}" method="POST">
    {% csrf_token %}
    <h5>Reviews: </h5>
    {{ review_form.as_p }}
    <input type="submit" class="btn" value="Add comment">
</form>

{% for review in movie_data.review_set.all %}
<a href="{% url 'delete_review' movie_data.id review.id %}">X</a>
{{ review.body }}
{% endfor %}


{% endblock %}