{% extends 'base.html' %}
{% block content %}
<h1>{{ response.title }}</h1>
<p>Year Released: {{ response.year }}</p>
<img src="{{ response.image }}" alt="pic" style="height:200px; width:140px;">
<p>Plot: {{ response.plot }}</p>
<p>Awards: {{ response.awards }}</p>
<p>Genres: {{ response.genres }}</p>
<p>Content Rating:  {{ response.contentRating }}</p>

<h3>Trailer</h3>
<iframe src="{{ vid_response.linkEmbed }}?autoplay=false&width=640" width="640" height="360" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" frameborder="no" scrolling="no"></iframe>

<h3>Similar Movies</h3>
{% for items in response.similars %}
<a href="{% url 'details' items.id %}">
    {{ items.title }}
    <img src="{{ items.image }}" alt=""style="height:100px; width:80px;">
    {% endfor %}
</a>

<h3>Actors</h3>
{% for items in response.actorList %}
    <p>{{ items.name }}</p>
    <p>{{ items.asCharacter }}</p>
    <img src="{{ items.image }}" alt=""style="height:100px; width:80px;">
    {% endfor %}
{% endblock %}