{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinéflix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>
                <form action="" method="get">
                    <input type="text" name="all">
                    <button type="submit" value="Search">Search</button>
                </form> 
            </li>
            <li><a href="{% url 'top_movies' %}">Top Movies</a></li>
            <li><a href="{% url 'coming_soon' %}">Coming Soon</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        </ul>
    </nav>
    {% block content %}
    
    {% endblock %}
</body>
</html>