{% extends 'base.html' %}
{% block content %}

<section>
    <div class="carousel-one">
      <div>
        <ul>
          <li class="movie"><a href="/movie/tt9032400"><img src="https://i.imgur.com/aAiSh2Y.jpg" alt="eternals"/></a></li>
          <li class="movie"><a href="/movie/tt4123432"><img src="https://i.imgur.com/1d8OcaI.jpg" alt="fantastic beasts"/></a></li>
          <li class="movie"><a href="/movie/tt4520988"><img src="https://i.imgur.com/Z0gx6mT.jpg" alt="frozen 2"/></a></li>
          <li class="movie"><a href="/movie/tt1160419"><img src="https://i.imgur.com/djvP5M6.jpg" alt="dune"/></a></li>
          <li class="movie"><a href="/movie/tt9114286"><img src="https://i.imgur.com/Sf2YpzW.jpg" alt="black panther"/></a></li>
          <li class="movie"><a href="/movie/tt0073174"><img src="https://i.imgur.com/arVDrLz.jpg" alt="inside out"/></a></li>
          <li class="movie"><a href="/movie/tt2488496"><img src="https://i.imgur.com/cIdD5Q4.jpg" alt="star wars"/></a></li>
          <li class="movie"><a href="/movie/tt1477834"><img src="https://i.imgur.com/LOW13gV.jpg" alt="aquaman"/></a></li>
          <li class="movie"><a href="/movie/tt6467266"><img src="https://i.imgur.com/SrH9e3x.jpg" alt="sing 2"/></a></li>
          <li class="movie"><a href="/movie/tt4846340"><img src="https://i.imgur.com/64s6pCd.jpg" alt="hidden figures"/></a></li>
        </ul>
      </div>
    </div>
    <div class="carousel-two">
        <div>
          <ul>
            <li class="movie"><a href="/movie/tt8093700"><img src="https://i.imgur.com/GSMNmAY.jpg" alt="the woman king"/></a></li>
            <li class="movie"><a href="/movie/tt4154796"><img src="https://i.imgur.com/Rfy5UG1.jpg" alt="avengers"/></a></li>
            <li class="movie"><a href="/movie/tt9419884"><img src="https://i.imgur.com/pUs1qlD.jpg" alt="doctor strange"/></a></li>
            <li class="movie"><a href="/movie/tt6105098"><img src="https://i.imgur.com/vhXIuYC.jpg" alt="lion king"/></a></li>
            <li class="movie"><a href="/movie/tt10954984"><img src="https://i.imgur.com/oG2Z8sv.jpg" alt="nope"/></a></li>
            <li class="movie"><a href="/movie/tt1877832"><img src="https://i.imgur.com/F4gscw0.png" alt="x-men"/></a></li>
            <li class="movie"><a href="/movie/tt10838180"><img src="https://i.imgur.com/Ofyt6NN.jpg" alt="matrix"/></a></li>
            <li class="movie"><a href="/movie/tt0468569"><img src="https://i.imgur.com/TDAKD1p.jpg" alt="batman"/></a></li>
            <li class="movie"><a href="/movie/tt0499549"><img src="https://i.imgur.com/SQoYHrO.jpg" alt="avatar"/></a></li>
            <li class="movie"><a href="/movie/tt1979376"><img src="https://i.imgur.com/dqA5FYL.jpg" alt="toy story"/></a></li>
          </ul>
        </div>
      </div>
  </section>

{% endblock %}