{% extends 'base.html' %}
{% block content %}

<h1>Home</h1>

<section>
    <div class="carousel-one">
      <div>
        <ul>
          <li class="movie"><img src="https://i.imgur.com/aAiSh2Y.jpg" /></li>
          <li class="movie"><img src="https://i.imgur.com/1d8OcaI.jpg" /></li>
          <li class="movie"><img src="https://i.imgur.com/Z0gx6mT.jpg" /></li>
          <li class="movie"><img src="https://i.imgur.com/arVDrLz.jpg" /></li>
          <li class="movie"><img src="https://i.imgur.com/djvP5M6.jpg" /></li>
          <li class="movie"><img src="https://i.imgur.com/cIdD5Q4.jpg" /></li>
          <li class="movie"><img src="https://i.imgur.com/LOW13gV.jpg" /></li>
          <li class="movie"><img src="https://i.imgur.com/Sf2YpzW.jpg" /></li>
        </ul>
      </div>
    </div>
    <div class="carousel-two">
        <div>
          <ul>
            <li class="movie"><img src="https://i.imgur.com/GSMNmAY.jpg" /></li>
            <li class="movie"><img src="https://i.imgur.com/Rfy5UG1.jpg" /></li>
            <li class="movie"><img src="https://i.imgur.com/pUs1qlD.jpg" /></li>
            <li class="movie"><img src="https://i.imgur.com/hbLEB8h.jpg" /></li>
            <li class="movie"><img src="https://i.imgur.com/oG2Z8sv.jpg" /></li>
            <li class="movie"><img src="https://i.imgur.com/F4gscw0.png" /></li>
            <li class="movie"><img src="https://i.imgur.com/Ofyt6NN.jpg" /></li>
            <li class="movie"><img src="https://i.imgur.com/TDAKD1p.jpg" /></li>
          </ul>
        </div>
      </div>
  </section>

{% endblock %}