@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgb(35,41,46);
    background: linear-gradient(90deg, rgba(35,41,46,1) 10%, rgba(56,68,87,1) 40%, rgba(56,68,87,1) 60%, rgba(35,41,46,1) 90%);
}

h1, li, p {
    color: white;
    font-family: 'Comfortaa', sans-serif;
}

ul, li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 25px;
    padding: 40px;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center;
}

/* navigation */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.4);
}

.menu-bar li {
    font-size: 11px;
    font-weight: 400;
    padding: 12px 10px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.menu-bar li[name="nav"]::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}

.menu-bar li[name="nav"]:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    transform: scale(1.1);
    opacity: 25%;
}

.cineflix {
    font-weight: 700;
    font-size: 15px;
}

/* search bar */

form[name="search"] {
    opacity: 20%;
}

.search-field {
    border: none;
    border-radius: 25px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 10px;
    padding: 8px;
}

/* home carousel */

section {
    width: 100%;
    overflow-x: hidden;
    margin-top: 11rem;
}
  
.carousel-one, .carousel-two {
    display: flex;
    width: 200%;
    margin-top: -5px;
}

.carousel-one {
    animation: scrolling 50s linear infinite;
}

.carousel-two {
    animation: scrolling 35s linear infinite;
}
  
div {
    width: 100%;
}
  
ul {
    display: flex;
    padding-left: 0;
    margin: 0;
}
  
.movie {
    width: 100%;
}

li img {
    border-radius: 0.3rem;
    margin: 5px 6px;
    height: 180px;
}

/* profile carousel */

.favorites_container {
    margin: 6rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input[type="radio"] {
    display: hidden;
}

.favorites #img-1:checked ~ #img-1,
.favorites #img-2:checked ~ #img-2,
.favorites #img-3:checked ~ #img-3,
.favorites #img-4:checked ~ #img-4,
.favorites #img-5:checked ~ #img-5 {
    transform: translatex(0) scale(1.3);
    z-index: 200;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5);
}

.favorites #img-1:checked ~ #img-5,
.favorites #img-2:checked ~ #img-1,
.favorites #img-3:checked ~ #img-2,
.favorites #img-4:checked ~ #img-3,
.favorites #img-5:checked ~ #img-4 {
    transform: translateX(-70%);
    z-index: 100;
}

.favorites #img-2:checked ~ #img-3,
.favorites #img-1:checked ~ #img-2,
.favorites #img-3:checked ~ #img-4,
.favorites #img-4:checked ~ #img-5,
.favorites #img-5:checked ~ #img-1 {
    transform: translateX(80%);
    z-index: 100;
}

.favorites #img-1:checked ~ #img-3,
.favorites #img-2:checked ~ #img-4,
.favorites #img-3:checked ~ #img-5,
.favorites #img-4:checked ~ #img-1,
.favorites #img-5:checked ~ #img-2 {
    transform: translateX(150%) scale(0.8);
    z-index: 50;
}

.favorites #img-1:checked ~ #img-4,
.favorites #img-2:checked ~ #img-5,
.favorites #img-3:checked ~ #img-1,
.favorites #img-4:checked ~ #img-2,
.favorites #img-5:checked ~ #img-3 {
    transform: translateX(-140%) scale(0.8);
    z-index: 50;
}

.favorites_img-container {
    position: absolute;
    width: 10rem;
    height: 15rem;
    top: 0px;
    border-radius: 10px;
    transition: 0.3s ease-in;
}

.favorites_img {
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
    height: 100%;
}

/* top movies / coming soon */


.top-movies, .coming-soon, .search {
    display: grid;
    grid-template-columns: repeat(5, 140px);
    row-gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.top-movies img, .coming-soon img, .search img {
    width: 120px;
    height: 170px;
    border-radius: 6px;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5);
}

/* movie details  */

.movie-card {
    width: 1000px;
    height: 600px;
    margin: 10vmin auto;
    border-radius: 15px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}

.card-left {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 600px;
    float: left;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.card-left img {
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.card-right {
    width: 60%;
    float: left;
    background: black;
    height: 600px;
    border-radius: 0 15px 15px 0;
}

.card-right h1 {
    font-weight: 700;
    text-align: left;
    font-size: 40px;
    margin: 30px 0 0 0;
    padding: 0 0 0 40px;
    letter-spacing: 5px;
}

.movie-details ul {
    list-style-type: none;
    padding: 0 0 0 40px;
    margin: 10px 0 0 0;
}

.movie-details ul li {
    display: inline;
    font-weight: 400;
    font-size: 14px;
    padding: 0 50px 0 0;
}

.plot p {
    color: white;
    font-size: 12px;
    padding: 0 40px 0 40px;
    letter-spacing: 1px;
    margin: 20px 0 -10px 0;
    line-height: 20px;
}

iframe {
    margin-left: 60px;
    width: 480px;
    height: 260px;
}

/* amimations */
  
@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}