@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: rgb(35,41,46);
    background: linear-gradient(90deg, rgba(35,41,46,1) 10%, rgba(56,68,87,1) 40%, rgba(56,68,87,1) 60%, rgba(35,41,46,1) 90%);
    animation: fade ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1, h2, li, p, a {
    color: white;
}

li, p, a, button {
    font-family: 'Comfortaa', sans-serif;
}

h1, h2 {
    font-family: 'Lexend Giga', sans-serif;
}

ul, li {
    list-style: none;
    margin: auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 25px;
    padding: 40px;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center;
}

button {
    border-color: white;
    border-radius: 10px;
    font-size: 12px;
}

button:hover, .delete:hover {
    cursor: pointer;
}

.delete {
    background-color: transparent;
    border: none;
}

form {
    text-align: center;
}

/* navigation */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, .25);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.4);
}

.menu-bar li {
    font-size: 11px;
    font-weight: 400;
    padding: 12px 10px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.menu-bar li[name="nav"]::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}

.menu-bar li[name="nav"]:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    transform: scale(1.1);
    opacity: 25%;
}

.cineflix {
    font-weight: 700;
    font-size: 15px;
}

/* search bar */

form[name="search"] {
    opacity: 20%;
}

.search-field {
    border: none;
    border-radius: 25px;
    font-family: 'Comfortaa', sans-serif;
    font-size: 10px;
    padding: 8px;
}

/* home carousel */

section {
    width: 100%;
    overflow-x: hidden;
    margin-top: 11rem;
}
  
.carousel-one, .carousel-two {
    display: flex;
    width: 200%;
    margin-top: -5px;
}

.carousel-one {
    animation: scrolling 50s linear infinite;
}

.carousel-two {
    animation: scrolling 35s linear infinite;
}
  
div {
    width: 100%;
}
  
ul {
    display: flex;
    padding-left: 0;
    margin: 0;
}
  
.movie {
    width: 100%;
}

li img {
    border-radius: 0.3rem;
    margin: 5px 6px;
    height: 180px;
}

.top-movies, .coming-soon, .search {
    display: grid;
    grid-template-columns: repeat(5, 140px);
    row-gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.top-movies img, .coming-soon img, .search img {
    width: 120px;
    height: 170px;
    border-radius: 6px;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5);
}

/* movie details  */

.movie-card {
    width: 1000px;
    height: 600px;
    margin: 10vmin auto;
    border-radius: 15px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
}

.card-left {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 600px;
    float: left;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.card-left img {
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.card-right {
    width: 60%;
    float: left;
    background: black;
    height: 600px;
    border-radius: 0 15px 15px 0;
}

.card-right h1 {
    font-weight: 700;
    text-align: left;
    font-size: 4.9vw;
    margin: 30px 0 0 0;
    padding: 0 0 0 40px;
    letter-spacing: 5px;
}

.movie-details ul {
    list-style-type: none;
    padding: 0 0 0 40px;
    margin: 10px 0 0 0;
}

.movie-details ul li {
    display: inline;
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px 0 0;
    margin: auto 5px;
}

.plot p {
    color: white;
    font-size: 12px;
    padding: 0 40px 0 40px;
    letter-spacing: 1px;
    margin: 20px 0 -25px 0;
    line-height: 20px;
}

iframe {
    margin-left: 60px;
    width: 480px;
    height: 260px;
}

/* movie details (similar movies) */

.extra-details {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    justify-content: center;
    align-items: center;
}

.extra-details img {
    height: 175px;
    width: 125px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5);
}

.extra-details img:hover {
    scale: calc(1.1);
    transition: .5s ease-in-out;
}

/* movie details (actors) */

.actor {
    text-align: center;
}

.actor img {
    height: 100px;
    width: 80px;
    margin: 20px;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5);
}

.smaller {
    font-size: 12px;
    font-style: italic;
}


/* movie details reviews */

.comment-card {
    width: 100vmin;
    margin: 1vmin auto;
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55); 
    background-image: url('https://wallpaperaccess.com/full/862213.jpg');
    font-family: 'Comfortaa', sans-serif;
}
.comment-card ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-info {
    display: flex;
    justify-content: flex-end;
}

.comment-form {
    width: 100vmin;
    margin: 1vmin auto;
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55); 
    background-image: url('https://wallpaperaccess.com/full/862213.jpg');
    font-family: 'Comfortaa', sans-serif;
}

.comment-form p {
    color: rgba(0, 0, 0, 0);
}

.comment-form select {
    width: 100%;
    padding:10px;
    border-radius:10px;
  }

.comment-form input[type=text] {
    width: 100%;
    padding:10px;
    border-radius:10px;
}

.comment-form input[type=button] {
    padding: 8px;
    border-radius: 10px;
    font-family: 'Comfortaa', sans-serif;
}

.review-box {
    width: 250px;
}

/* profile */

.profile-card {
    background-color: grey;
    background-image: url('https://wallpaperaccess.com/full/862213.jpg');
    background-size:cover;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 800px;
    margin: 12vmin auto;
    border-radius: 25px;
}

#avatar {
    margin-top: -140px;
    background-color: black;
    height: 150px;
    border-radius: 50%;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}
  
.profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-text h1 {
    margin-top: -10px;
}

.bio {
    margin-top: -25px;
    font-size: 12px;
    width: 70%;
}

.profile-link {
    font-size: 10px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

/* favorites & reviews (profile)  */

.profile-movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    width: 800px;
}

.favorite-movies, #favorite-movies {
    height:175px;
    width:125px;
}

.reviewed-movies, #reviewed-movies {
    height: 140px;
    width: 100px;
}

.favorite-movies, .reviewed-movies {
    text-align: center;
}

#favorite-movies, #reviewed-movies {
    border-radius: 10px;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5);
}

.favorite-delete, .rating {
    position:relative;
    border-color: black;
    background-color: white;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5);
}

.favorite-delete {
    top: -40px;
    left: -40px;
    border-radius: 30%;
}

.rating {
    top: -55px;
    left: 10px;
    border-radius: 40%;
    width: 35px;
    height: 30px;
    padding: 5px;
    color: black;
    border-width: 2px;
    border-style: solid;
    font-size: 12px;
    font-weight: 700;
}

/* sign up */
.sign_up {
    background-color: grey;
    background-image: url('https://wallpaperaccess.com/full/862213.jpg');
    background-size:cover;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    margin: 1vmin auto;
    border-radius: 25px;
}

.div_tag {
    font-family: 'comfortaa', sans-serif;
    color: white;
    font-size: 15px;
    line-height: 28px;
}

/* amimations */
  
@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}