* {
    box-sizing: border-box;
}

button[type="submit"] { 
    position: absolute;
    top: 20px;
}

.nav-right {
    position: absolute;
    left: 30rem;
}

/* home carousel */

section {
    width: 100%;
    overflow: hidden;
    margin-top: 6rem;
}
  
.carousel-one, .carousel-two {
    display: flex;
    width: 200%;
    margin-top: -5px;
}

.carousel-one {
    animation: scrolling 50s linear infinite;
}

.carousel-two {
    animation: scrolling 35s linear infinite;
}
  
div {
    width: 100%;
}
  
ul {
    display: flex;
    padding-left: 0;
    margin: 0;
}
  
.movie {
    width: 100%;
}

li img {
    border-radius: 0.3rem;
    margin: 5px 6px;
    height: 180px;
}

/* profile carousel */

.favorites_container {
    margin: 6rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input[type="radio"] {
    display: hidden;
}

.favorites #img-1:checked ~ #img-1,
.favorites #img-2:checked ~ #img-2,
.favorites #img-3:checked ~ #img-3,
.favorites #img-4:checked ~ #img-4,
.favorites #img-5:checked ~ #img-5 {
    transform: translatex(0) scale(1.3);
    z-index: 200;
    box-shadow: 1px 3px 7px 2px rgba(0, 0, 0, 0.5);
}

.favorites #img-1:checked ~ #img-5,
.favorites #img-2:checked ~ #img-1,
.favorites #img-3:checked ~ #img-2,
.favorites #img-4:checked ~ #img-3,
.favorites #img-5:checked ~ #img-4 {
    transform: translateX(-70%);
    z-index: 100;
}

.favorites #img-2:checked ~ #img-3,
.favorites #img-1:checked ~ #img-2,
.favorites #img-3:checked ~ #img-4,
.favorites #img-4:checked ~ #img-5,
.favorites #img-5:checked ~ #img-1 {
    transform: translateX(80%);
    z-index: 100;
}

.favorites #img-1:checked ~ #img-3,
.favorites #img-2:checked ~ #img-4,
.favorites #img-3:checked ~ #img-5,
.favorites #img-4:checked ~ #img-1,
.favorites #img-5:checked ~ #img-2 {
    transform: translateX(150%) scale(0.8);
    z-index: 50;
}

.favorites #img-1:checked ~ #img-4,
.favorites #img-2:checked ~ #img-5,
.favorites #img-3:checked ~ #img-1,
.favorites #img-4:checked ~ #img-2,
.favorites #img-5:checked ~ #img-3 {
    transform: translateX(-140%) scale(0.8);
    z-index: 50;
}

.favorites_img-container {
    position: absolute;
    width: 10rem;
    height: 15rem;
    top: 0px;
    border-radius: 10px;
    transition: 0.3s ease-in;
}

.favorites_img {
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
    height: 100%;
}

/* amimations */
  
@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}